<f:layout name="default" />

<f:section name="main">
  <f:flashMessages />

  <div class="card-group-element card-group-element-align-left card-group-element-columns-3">
    <f:for each="{api.forecast.date}" as="date">
      <div class="card-group-element-item">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"><f:format.date format="{settings.strftime}">@{date.d}</f:format.date></h2>
            <div class="d-flex flex-row">
              <div class="p-2">
                <f:switch expression="{date.w}">
                  <f:case value="0"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_0_b.png"/></f:case>        
                  <f:case value="1"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_1_b.png"/></f:case>
                  <f:case value="2"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_2_b.png"/></f:case>
                  <f:case value="3"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_3_b.png"/></f:case>
                  <f:case value="4"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_4_b.png"/></f:case>
                  <f:case value="5"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_5_b.png"/></f:case>
                  <f:case value="6"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_6_b.png"/></f:case>
                  <f:case value="7"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_7_b.png"/></f:case>
                  <f:case value="8"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_8_b.png"/></f:case>
                  <f:case value="9"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_9_b.png"/></f:case>
                  <f:case value="10"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_1_b.png"/></f:case>          
                  <f:case value="11"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_1_b.png"/></f:case>
                  <f:case value="12"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_1_b.png"/></f:case>
                  <f:case value="13"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_1_b.png"/></f:case>
                  <f:case value="14"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_1_b.png"/></f:case>
                  <f:case value="15"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_1_b.png"/></f:case>
                  <f:case value="16"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_1_b.png"/></f:case>
                  <f:case value="17"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_1_b.png"/></f:case>
                  <f:case value="18"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_1_b.png"/></f:case>
                  <f:case value="19"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_1_b.png"/></f:case>
                  <f:case value="20"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_2_b.png"/></f:case>          
                  <f:case value="21"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_2_b.png"/></f:case>
                  <f:case value="22"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_2_b.png"/></f:case>
                  <f:case value="23"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_2_b.png"/></f:case>
                  <f:case value="24"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_2_b.png"/></f:case>
                  <f:case value="25"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_2_b.png"/></f:case>
                  <f:case value="26"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_2_b.png"/></f:case>
                  <f:case value="27"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_2_b.png"/></f:case>
                  <f:case value="28"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_2_b.png"/></f:case>
                  <f:case value="29"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_2_b.png"/></f:case>
                  <f:case value="30"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_3_b.png"/></f:case>          
                  <f:case value="31"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_3_b.png"/></f:case>
                  <f:case value="32"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_3_b.png"/></f:case>
                  <f:case value="33"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_3_b.png"/></f:case>
                  <f:case value="34"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_3_b.png"/></f:case>
                  <f:case value="35"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_3_b.png"/></f:case>
                  <f:case value="36"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_3_b.png"/></f:case>
                  <f:case value="37"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_3_b.png"/></f:case>
                  <f:case value="38"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_3_b.png"/></f:case>
                  <f:case value="39"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_3_b.png"/></f:case>
                  <f:case value="40"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_4_b.png"/></f:case>          
                  <f:case value="41"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_4_b.png"/></f:case>
                  <f:case value="42"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_4_b.png"/></f:case>
                  <f:case value="43"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_4_b.png"/></f:case>
                  <f:case value="44"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_4_b.png"/></f:case>
                  <f:case value="45"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_4_b.png"/></f:case>
                  <f:case value="46"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_4_b.png"/></f:case>
                  <f:case value="47"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_4_b.png"/></f:case>
                  <f:case value="48"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_4_b.png"/></f:case>
                  <f:case value="49"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_4_b.png"/></f:case>
                  <f:case value="50"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_5_b.png"/></f:case>          
                  <f:case value="51"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_5_b.png"/></f:case>
                  <f:case value="52"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_5_b.png"/></f:case>
                  <f:case value="53"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_5_b.png"/></f:case>
                  <f:case value="54"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_5_b.png"/></f:case>
                  <f:case value="55"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_5_b.png"/></f:case>
                  <f:case value="56"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_5_b.png"/></f:case>
                  <f:case value="57"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_5_b.png"/></f:case>
                  <f:case value="58"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_5_b.png"/></f:case>
                  <f:case value="59"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_5_b.png"/></f:case>  
                  <f:case value="60"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_6_b.png"/></f:case>          
                  <f:case value="61"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_6_b.png"/></f:case>
                  <f:case value="62"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_6_b.png"/></f:case>
                  <f:case value="63"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_6_b.png"/></f:case>
                  <f:case value="64"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_6_b.png"/></f:case>
                  <f:case value="65"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_6_b.png"/></f:case>
                  <f:case value="66"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_6_b.png"/></f:case>
                  <f:case value="67"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_6_b.png"/></f:case>
                  <f:case value="68"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_6_b.png"/></f:case>
                  <f:case value="69"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_6_b.png"/></f:case>
                  <f:case value="70"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_7_b.png"/></f:case>          
                  <f:case value="71"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_7_b.png"/></f:case>
                  <f:case value="72"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_7_b.png"/></f:case>
                  <f:case value="73"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_7_b.png"/></f:case>
                  <f:case value="74"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_7_b.png"/></f:case>
                  <f:case value="75"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_7_b.png"/></f:case>
                  <f:case value="76"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_7_b.png"/></f:case>
                  <f:case value="77"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_7_b.png"/></f:case>
                  <f:case value="78"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_7_b.png"/></f:case>
                  <f:case value="79"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_7_b.png"/></f:case>
                  <f:case value="80"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_8_b.png"/></f:case>          
                  <f:case value="81"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_8_b.png"/></f:case>
                  <f:case value="82"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_8_b.png"/></f:case>
                  <f:case value="83"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_8_b.png"/></f:case>
                  <f:case value="84"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_8_b.png"/></f:case>
                  <f:case value="85"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_8_b.png"/></f:case>
                  <f:case value="86"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_8_b.png"/></f:case>
                  <f:case value="87"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_8_b.png"/></f:case>
                  <f:case value="88"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_8_b.png"/></f:case>
                  <f:case value="89"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_8_b.png"/></f:case>  
                  <f:case value="90"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_9_b.png"/></f:case>          
                  <f:case value="91"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_9_b.png"/></f:case>
                  <f:case value="92"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_9_b.png"/></f:case>
                  <f:case value="93"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_9_b.png"/></f:case>
                  <f:case value="94"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_9_b.png"/></f:case>
                  <f:case value="95"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_9_b.png"/></f:case>
                  <f:case value="96"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_9_b.png"/></f:case>
                  <f:case value="97"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_9_b.png"/></f:case>
                  <f:case value="98"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_9_b.png"/></f:case>
                  <f:case value="99"><f:image src="EXT:openweatherapi/Resources/Public/Icons/d_9_b.png"/></f:case>          
                </f:switch> 
              </div>
              <div class="p-2">
                <p class="card-text"><f:format.htmlspecialchars>{date.w_txt}</f:format.htmlspecialchars><br />
                <f:format.htmlspecialchars>{date.tn}</f:format.htmlspecialchars> <f:translate key="unit.temperature" /> <f:translate key="label.interval" /> <f:format.htmlspecialchars>{date.tx}</f:format.htmlspecialchars> <f:translate key="unit.temperature" /><br />
                <f:translate key="label.wind" />: <f:format.htmlspecialchars>{date.ws}</f:format.htmlspecialchars> <f:translate key="unit.windspeed" /> <f:translate key="label.winddirection" /> <f:format.htmlspecialchars>{date.wd_txt}</f:format.htmlspecialchars><br />
                <f:translate key="label.precipitation" />: <f:format.htmlspecialchars>{date.pc}</f:format.htmlspecialchars> <f:translate key="unit.precipitation" /></p>
              </div>            
            </div>

          </div>
        </div>
      </div>
    </f:for>  
  </div>
  <p class="text-right small"><f:link.external uri="https://www.wetter.com/" ><f:format.htmlspecialchars>{api.credit.text}</f:format.htmlspecialchars></f:link.external></p>
</f:section>